{% extends "default/index.html.twig" %}
{% block body %}

    <tr><a href="{{ path('ShowProd') }}">liste des produits</a></tr>
    <tr><a href="{{ path('ShowProp'}) }}">liste des proprietaires des boutiques</a></tr>

{% endblock %}